*{
    margin: 0px; /*normalizamos*/
    padding: 0px; /*normalizamos*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

    .logo{
        display:flex;
        background-color: cadetblue;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        height: 100px;
        display: flex;
    }
    .logo p{
        font-weight: bold;
        font-size: 50px;
        font-style: normal;
        font-family: sans-serif;
        border-color: brown;
        color: aqua;
        display: flex;
        float: right;
    }
   
body{
background-image: url("img/Varias/fondo.jpg");
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;

}

:root { 
    --blue-primary: #042240;
    --blue-title: #042240;
    --gold-primary: goldenrod;
    --blue-background-news: #c3e3fd;
    
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

main,
article,
.section-main,
.section-aside,
form {
    padding: 10px;
    margin: 10px;
}

.section-news {
    margin: 5px;
}

.section-aside {
    margin: 10px 5px;
    background-color:var(--blue-background-news);

}

.section-aside p {
    font-size: small;
}

nav{
    background-color: var(--blue-primary) ;
    padding: 20px;
    align-content:space-between;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--gold-primary);
    background-color: var(--blue-primary);
    padding: 20px; 
}

nav a:hover{
    color: white;
    font-weight:bolder;
}

nav a img {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 100%;
    border-radius: 5px;
    border: var(--gold-primary) 2px solid;
}

h1 {
    padding: 10px;
} 
 
h2, h3, h4, h5, h6 {
    padding: 5px;
} 

h1, h2, h3, h4, h5, h6 {
    color: var(--blue-title);
}

.carrousel{
    display: flex;
    width: 100%;
    height: 500px;
}

.itemCarrousel{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section-main p {
    font-size: medium;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.itemCarrousel:hover {
    cursor: crosshair;
    width: 75%;
    opacity: 1;
    filter: contrast(120%);
}

footer{
    position: fixed;
    bottom: 0px;
    background-color: var(--blue-primary);
    color: var(--gold-primary);
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.perfilesequipo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: stretch;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.perfilesequipo > article {
    border: 1px solid var(--blue-primary);
    box-shadow: 2px 2 px 6 px rgba(0, 0, 0, 3);
}

.perfilesequipo > article img {
    max-width: 100%;
    opacity: .8;
    transition: .5s ease;
}

.perfilesequipo > article img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.perfilesequipo > article p {
    font-size: small;
}
.card-text {
    padding: 0 20px 20px;
}

.card-btn {
    background-color: var(--blue-primary);
    border: 0;
    color: var(--gold-primary);
    padding: 10px;
    width: 100%;
}

.card-btn:active{
    transform: scale(0.98);
}

.contenedor-mundiales {
    width: 90%;
	max-width: 100%;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha";
}

.contenedor-mundiales .columna-izquierda, 
.contenedor-mundiales .columna-derecha {
    background: var(--gold-primary);
    color: var(--blue-title);
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-mundiales .columna-izquierda {
	grid-area: columna-izquierda;
}

.contenedor-mundiales .columna-derecha {
	grid-area: columna-derecha;
}

.contenedor-mundiales .columna-izquierda img, 
.contenedor-mundiales .columna-derecha img {
 width: 100%;
}

.img-mundiales:hover {
    border-radius: 5%;
    transform: scale(1.2);
    opacity: 1.1;
}

.proximos-partidos > article {
    background-color: var(--gold-primary);
}

.proximos-partidos > article .resaltar-label {
    color: var(--blue-primary);
}

.proximos-partidos > article .fecha-partido {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor-imgHeader {
    width: 35%;
	max-width: 100%;
	margin: 20px auto;
	display: inline-flex;
    margin: 25px;
	/* grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "columna-izquierda columna-derecha columna-derecha columna-derecha columna-derecha"
 */    
    /* justify-content: left;
    position: fixed;
    pointer-events: none;
    top: 75px;
    left: 25px;
     */
}

.imgEncabezadoIndex {
    border: 1;
    width: 50%;
    height: 100%
}
.contenedor-imgHeader p {
    font-size: 65px;
    color: red
}

.imgEncabezadoIndex img {
    border: 1;
    width: 15%;
    height: 25%
}

.contenedor-formulario {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
}

.info-contacto h4 {
    margin-bottom: 15px;
    font-size: larger;
}

.info-contacto p {
    font-size: medium;
    line-height: 1.6;
    margin-bottom: 30px;
}

.info-contacto a{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: var(--blue-primary);
    font-weight: 600;
}

.info-contacto a img{
    width: 10%;
    margin-right: 10px;
}

.formulario-contacto form p {
    font-size: small;
    padding-bottom: 5px;
    color: var(--blue-primary);
}

.formulario-contacto form label {
    font-size: small;
    padding-bottom: 5px;
    color: var(--blue-primary);
}


.formulario-contacto form input, textarea, select, button {
    width: 100%;
    padding: 12px 10px;
    font-size: 12px;
    border: 1px solid var(--gold-primary);
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.formulario-contacto form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.formulario-contacto .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: var(--gold-primary);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;

}

.formulario-contacto .btn-enviar:hover {
    background-color: var(--blue-primary);
    color: var(--gold-primary);
}

.mensaje-enviado-modal {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
/*    height: 100vh;
    width: 100vw;*/
}

.modal {
    background-color: white;
    width: 600px;
    height: 300px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

.show-modal {
    pointer-events: auto;
    opacity: 1;
    top:37%;
    left: 32%;
    /*transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;*/
}

.btn-close-modal {
    font-size: large;
    width: 50%;
    margin-top: 15%;
    color: var(--blue-primary);
    border: 1px solid var(--blue-primary);
    background-color: var(--gold-primary);
}

.btn-close-modal:hover {
    color: var(--gold-primary);
    border: 1px solid var(--gold-primary);
    background-color: var(--blue-primary);
}

.container {
    width: 80%;
    margin: 80px auto;
}

.container h2 {
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 250px;
}

.caracteristica-img {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.pequena-img-row {
    display: flex;
    background: #fff;
    margin: 20px 0;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
    width: 85%;
}

.pequena-img {
    position: relative;
}

.pequena-img img {
    width: 150px;
}

.pequena-img-row p {
    margin-left: 20px;
    color: #042240;
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.pequena-img .play-btn {
    width: 35%;
}

.video-player {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 60px;
    right: 260px;
    width: 50px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
	.contenedor-mundiales {
		grid-template-areas: "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
						 ;
	}
}

@media screen and (max-width: 600px){
	.contenedor-mundiales {
		grid-template-areas: "columna-izquierda"
                            "columna-derecha";
	}
	.container h2 {
        font-size: 22px;
    }

    	.pequena-img-row {
        width: 120%;
    }
}

.slider-box {
    width: 100%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    align-content: center;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-texto {
    position: absolute;
    text-align: center;
    padding: 0 200px;
    top: 450px;
    color: #042240;
    background-color: #fff;
    margin-left: 150px;
    border: 2px var(--gold-primary) solid;
    border-radius: 8px;
    opacity: 0.7;
}

.slider-texto:hover {
    opacity: 1.1;
}

.slider-texto h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.slider-texto p {
    font-size: 15px;
    margin-bottom: 5px;
}

.slider-box img {
    width: 100%;
    opacity: 0.95;
}

.slider-box img:hover {
    opacity: 1.1;
}

.btn-ver-mas {
    width: 25%;
    padding: 5px;
    font-size: 17px;
    border: none;
    outline: 0px;
    background-color: var(--gold-primary);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-ver-mas:hover {
    background-color: var(--blue-primary);
    color: var(--gold-primary);
}

@keyframes slide {
    0% {margin-left: 0; }
    20% {margin-left: 0; }

    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100% {margin-left: -300%; }
}

.contenedor main {
    grid-area: contenedor-main;
}

.contenedor aside {
    grid-area: contenedor-aside;
}

.contenedor {
    grid-template-areas: "contenedor-main contenedor-main contenedor-main contenedor-main contenedor-aside contenedor-aside"
}

@media screen and (max-width: 1200px){
	.contenedor {
		grid-template-areas: "contenedor-main contenedor-main contenedor-main contenedor-main contenedor-main contenedor-aside";
	}

    .slider-texto{
        top:350px;
        padding: 0 5px;
        margin-left: 250px;
        margin-bottom: 5px;
    }

    .slider-texto h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .slider-texto p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .btn-ver-mas {
        width: 20%;
        padding: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px){
	.contenedor {
		grid-template-areas: "contenedor-main contenedor-main contenedor-main contenedor-main contenedor-main contenedor-main"
                            "contenedor-aside contenedor-aside contenedor-aside contenedor-aside contenedor-aside contenedor-aside";
	}

    .slider-texto{
        top:350px;
        padding: 0 5px;
        margin-left: 250px;
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 600px){
	.contenedor {
		grid-template-areas: "contenedor-main contenedor-main contenedor-main contenedor-main contenedor-main contenedor-main"
                            "contenedor-aside contenedor-aside contenedor-aside contenedor-aside contenedor-aside contenedor-aside";
	}

    .slider-texto{
        top:200px;
        padding: 0 5px;
        margin-left: 80px;
        margin-bottom: 5px;
    }

    .slider-texto h2 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .slider-texto p {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .btn-ver-mas {
        width: 35%;
        padding: 5px;
        font-size: 15px;
    }
}
