*{
    margin: 0px; /*normalizamos*/
    padding: 0px; /*normalizamos*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --blue-primary: #042240;
    --blue-title: #042240;
    --gold-primary: goldenrod;
    --blue-background-news: #c3e3fd;
}

.contenedor {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

main,
article,
.section-main,
.section-aside {
    padding: 10px;
    margin: 20px;
}

.section-aside {
    margin: 10px 5px;
    background-color:var(--blue-background-news);

}

nav{
    background-color: var(--blue-primary) ;
    padding: 20px;
    align-content:space-between;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: var(--gold-primary);
    background-color: var(--blue-primary);
    padding: 20px; 
}

nav a:hover{
    color: white;
    font-weight:bolder;
}

h1 {
    padding: 10px;
} 
 
h2, h3, h4, h5, h6 {
    padding: 5px;
} 

h1, h2, h3, h4, h5, h6 {
    color: var(--blue-title);
}

.carrousel{
    display: flex;
    width: 100%;
    height: 500px;
}

.itemCarrousel{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section-main p {
    font-size: medium;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.itemCarrousel:hover {
    cursor: crosshair;
    width: 75%;
    opacity: 1;
    filter: contrast(120%);
}

footer{
    position: fixed;
    bottom: 0px;
    background-color: var(--blue-primary);
    color: var(--gold-primary);
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.perfilesequipo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: stretch;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.perfilesequipo > article {
    border: 1px solid var(--blue-primary);
    box-shadow: 2px 2 px 6 px rgba(0, 0, 0, 3);
}

.perfilesequipo > article img {
    max-width: 100%;
    opacity: .8;
    transition: .5s ease;
}

.perfilesequipo > article img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.perfilesequipo > article p {
    font-size: small;
}
.card-text {
    padding: 0 20px 20px;
}

.card-btn {
    background-color: var(--blue-primary);
    border: 0;
    color: var(--gold-primary);
    padding: 10px;
    width: 100%;
}

.contenedor-mundiales {
    width: 90%;
	max-width: 100%;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha";
}

.contenedor-mundiales .columna-izquierda, 
.contenedor-mundiales .columna-derecha {
    background: var(--gold-primary);
    color: var(--blue-title);
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-mundiales .columna-izquierda {
	grid-area: columna-izquierda;
}

.contenedor-mundiales .columna-derecha {
	grid-area: columna-derecha;
}

.contenedor-mundiales .columna-izquierda img, 
.contenedor-mundiales .columna-derecha img {
 width: 100%;
}

.img-mundiales:hover {
    border-radius: 5%;
    transform: scale(1.2);
    opacity: 1.1;
}

.proximos-partidos > article {
    background-color: var(--gold-primary);
}

.proximos-partidos > article .resaltar-label {
    color: var(--blue-primary);
}

.proximos-partidos > article .fecha-partido {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px){
	.contenedor-mundiales {
		grid-template-areas: "columna-izquierda columna-derecha"
						 "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
                         "columna-izquierda columna-derecha"
						 ;
	}
}

@media screen and (max-width: 600px){
	.contenedor-mundiales {
		grid-template-areas: "columna-izquierda"
                            "columna-derecha";
	}
}

